

body{
    @extend %font_1;
}

%obra_search_title{
    @include rhythm(16,26);
    font-weight: bold;
    @include media-breakpoint-down(md){
        text-align: left!important;
    }
}

%obra_search_text{
    @include rhythm(14,24);
    color: #1A1818;
    @include media-breakpoint-down(md){
        text-align: left !important;
    }
}

.obra_search_title{
    @extend %obra_search_title;
}

.obra_search_text{
    @extend %obra_search_text;
}
.blog .blog_carousel .card .card-content h3{
    //min-height: 150px;
}
.dropdown-item:active {
    background: $first;
    text-decoration: none;
    span{
        color: #fff;
    }
}