.history{
    padding-bottom: 50px;
    .history_content{
        padding-bottom: 20px;
        h2{
            @include rhythm(28, 40);
            color: #000000;
            padding: 25px 10px 31px 0;
            @include media-breakpoint-up(md){
                @include rhythm(40, 50);
                padding: 0px 0px 31px 0;
            }
        }
        p{
            @include rhythm(14,26);
            padding-right: 5px;
            @include media-breakpoint-up(md){
                padding-right: 45px;
            }
            strong{
                font-weight: normal;
                @include media-breakpoint-up(md){
                    font-weight: bold;
                }
            }
        }
    }
    .history_carousel{
        @include media-breakpoint-down(md){
            -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.55);
            -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.55);
            box-shadow: 0 0 5px 0 rgba(0,0,0,.55);
            border-radius: 5px;
        }
        .card-date{
            position: absolute;
            margin-left: 15%;
            bottom: 41%;
            background: #F58220;
            padding: 7px 21px 3px 21px;
            border-radius: 5px;
            font-weight: bold;
            color: #fff;
            font-size: 20px;
                @include media-breakpoint-up(md){
                    margin-left: 6%;
                    bottom: 50%;
                }
            &:before{
                content: "";
                position: absolute;
                padding: 0 68px;
                border: 1.3px solid #ef8611;
                bottom: -15px;
                margin-left: 25%;
                background: #ef8611;
                @include media-breakpoint-up(md){
                    margin-left: -12%;
                    padding: 0 49px;
                }
            }
            &::after{
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background: #F58220;
                border-radius: 10px;
                bottom: -19px;
                margin-left: -30%;
                @include media-breakpoint-up(md){
                    bottom: -18px;
                    margin-left: -75%;
                }
            }
        }
        .card-header{
            @include media-breakpoint-up(md){
                display: flex;
                justify-content: flex-end;
            }
            img{
                width: 105%;
                margin: -6px;
                @include media-breakpoint-up(md){
                    width: auto;
                    margin: 0;
                }
            }
        }
        .card-content{
            @include rhythm(14, 26);
            margin-top: 120px;
            padding: 0 24px 35px 24px;
            @include media-breakpoint-up(md){
                padding: 0;
                margin-left: 35%;
                margin-top: 0;
            }
        }
        .slick-arrow {
            -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            width: 38px;
            height: 38px;
            border-radius: 10px;
            padding: 10px;
        }
        .slick-next {
            right: unset;
            left: 23%;
        }
        .slick-prev {
            left: 13%;
        }
        .slick-prev, .slick-next {
            top: 63%;
            background: #ffffff;
            z-index: 99;
        }
        .slick-dots {
            bottom: -50px;
        }
    }
}

.obra-about{
    @include media-breakpoint-up(md){
        padding: 0;
    }
    @include media-breakpoint-down(md){
        background: #f0f0f0;
    }
    .container{
        @include media-breakpoint-up(md){
            background: #f0f0f0;
            padding: 45px 100px;
        }
        h2{
            @include rhythm(29,40);
            @extend %color_third;
            margin: 100px 0 25px 0;
            &:before {
                content: "";
                padding: 19px 1px;
                position: relative;
                background-color: #ef8611;
                top: -65px;
                @include media-breakpoint-up(md){
                    top: -100px;
                }
            }
            @include media-breakpoint-up(md){
                @include rhythm(40,50);
                margin: 130px 0 25px 0;
            }
        }
        .obra_atex{
            display: flex;
            flex-wrap: wrap;
            border-radius: 10px;
            padding-left: 0;
            @include media-breakpoint-down(md){
                border: 1px solid;
                margin: 0 30px;
            }
            .obra_content {
                list-style: none;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                width: 170px;
                margin: 25px auto;
                text-align: left;
                align-items: baseline;
                @include media-breakpoint-down(md){
                    padding: 0px 25px;
                    width: auto;
                    text-align: center;
                    align-items: center;
                }
                img{
                    width: 61px;
                    @include media-breakpoint-up(md){
                        width: 44px;
                    }
                }
                p{
                    @include rhythm(16,22);
                }
            }
        }
    }
}

.sustainability{
    @include media-breakpoint-up(md){
        padding: 0;
    }
    .content-header{
        padding: 0 19px 65px 0;
        h2{
            @include rhythm(29,40);
            @extend %color_third;
            margin: 70px 0 5px 0;
            @include media-breakpoint-down(md){
                &:before {
                    content: "";
                    padding: 19px 1px;
                    position: relative;
                    background-color: #ef8611;
                    top: -55px;
                }
            }
            @include media-breakpoint-up(md){
                @include rhythm(40,50);
            }
        }
        p{
            @include rhythm(14,26);
        } 
    }
    .sustainability_carousel{
        margin-bottom: 50px !important;
        .card{
            background-color: #F0F0F0;
            padding: 25px;
            border-radius: 10px;
            @include media-breakpoint-up(md){
                margin: 0 10px;
            }
            .card-header {
                border-bottom: 1px solid #F58220;
                padding-bottom: 20px;
                text-align: center;
                @include media-breakpoint-up(md){
                    padding-bottom: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    min-height: 162px;
                }
                p{
                    @include rhythm(14,22);
                    color: #F58220;
                    padding: 14px 0;
                }
                img{
                    margin: 0 auto;
                }
            }
            .card-content {
                padding: 32px 0 25px 0;
                @include media-breakpoint-up(md){
                    min-height: 265px;
                    display: flex;
                    text-align: center;
                }
                p{
                    @include rhythm(14,26);
                }
            }
        }
        .slick-dots {
            bottom: -45px;
        }
    }
}

.cycle{
    padding: 20px 0;
    h2{
        @include rhythm(28,40);
        color: #000000;
    }
    .cycle_carousel{
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        padding: 20px;
        border-radius: 10px;
        //margin-bottom: 60px !important;
        .card-header{
            padding: 23px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .numbers{
                background: #F58220;
                padding: 0 6px 0 6px;
                border-radius: 14px;
                color: #ffffff;
                margin: -20px 0 20px 0;
            }
            img{
                margin: 0 auto;
            }

        }
        .card-content{
            p{
                @include rhythm(14,24);
            }
        }
        .slick-dots {
            bottom: -50px;
        }
    }
    .cycle_box{
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        padding: 20px;
        border-radius: 10px;
        //margin-bottom: 60px !important;
    }
}

.quality{
    h2{
        @include rhythm(28,30);
        @extend %color_third;
        margin: 90px 0 25px 0;
        &:before {
            content: "";
            padding: 19px 1px;
            position: relative;
            background-color: #ef8611;
            top: -60px;
            @include media-breakpoint-up(md){
                top: -70px;
            }
        } 

    }
    p{
        @include rhythm(14,26);
    }
    .quality_carousel{
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 70px !important;
        margin-top: 30px;
        @include media-breakpoint-up(md){
            margin-top: 0;
        }
        .card{
            @include media-breakpoint-up(md){
                //margin-top: -45px;
            }
            .card-header{
                img{
                    //width: 100%;
                    @include media-breakpoint-up(md){
                        max-width: 100%;
                        margin: -10px auto 50px;
                        height: auto;
                    }
                }
            }
            .card-content{
                text-align: center;
                padding-bottom: 60px;
                @include media-breakpoint-up(md){
                    margin-top: -50px;
                    padding-bottom: 75px;
                }
                h3{
                    padding-bottom: 10px;
                    @include rhythm(16,28);
                    font-weight: bold;
                    margin: 0 50px;
                    @include media-breakpoint-up(md){
                        @include rhythm(14,26);
                    }
                }
                p{
                    @include rhythm(14,26);
                    @include media-breakpoint-up(md){
                        @include rhythm(14,26);
                    }
                }
            }
        }
        .slick-dots {
            bottom: -55px;
        }
        .slick-arrow {
            -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
            box-shadow: 0 0 3px 0 rgba(0,0,0,.55);
            width: 38px;
            height: 38px;
            border-radius: 5px;
            padding: 10px;
            background: #fff;
        }
        .slick-prev {
            left: 220px;
        }
        .slick-next {
            right: 220px;
        }
        .slick-prev, .slick-next {
            top: 88%;
            z-index: 99;
        }
    }
}