.comercial-contact{
    @extend %background_fifth;
    h4{
        @include rhythm(24,50);
        margin: -5px 0px;
    }
    p{
        @include rhythm(14,10);
        a{
            color: #000000;
            text-decoration: none;
            font-weight: normal;
        }
    }
    h2{
        margin: 5px 0 0;
        @include rhythm(14,26);
        color:black;
        line-height: normal;
        @include media-breakpoint-up(md){
            margin: 15px 0 0;
        }
    }
    .searchandfilter {
        label{
            width: 100%;
        }
        
    }

    .contact-list{
        margin-top: 20px;
        padding-left: 0;
        @include media-breakpoint-up(md){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        li{
            margin-top: 15px;
            display: flex;
            //margin: 23px auto;
            .dados{
                margin-left: 21px;
                p{
                    @include rhythm(14,24);
                    &:first-child {
                        margin-bottom: 5px;
                    }
                }   
            }
        }
    }

    .select {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
            ul {
                padding-left: 0;
            }
        }
        .select select {
            display: inline-block;
            width: 100%;
            cursor: pointer;
            padding: 18px 0px;
            outline: 0;
            border-bottom: 1px solid #707070 !important;
            border-radius: 0;
            background: #e6e6e600;
            color: #1a1818;
            appearance: none;
            -webkit-appearance: none;
            border: 0;
            -moz-appearance: none;
        }
            .select select::-ms-expand {
                display: none;
            }
            .select select:hover,
            .select select:focus {
                color: #000000;
            }
            .select select:disabled {
                opacity: 0.5;
                pointer-events: none;
            }
    .select_arrow {
        position: absolute;
        top: 35px;
        right: 15px;
        pointer-events: none;
        border-style: solid;
        border-width: 10px 7px 0 7px;
        border-color: #F58220 transparent transparent transparent;
    }
    .select select:hover ~ .select_arrow,
    .select select:focus ~ .select_arrow {
        border-top-color: #ef8611;
    }
    .select select:disabled ~ .select_arrow {
        border-top-color: #cccccc;
    }
}
