.crm-webform-fieldset{
    display: flex !important;
    flex-wrap: wrap !important;
    .row{
        input {
            border-radius: 5px;
            border: 1px solid black;
        }
        select {
            border-radius: 5px;
            border: 1px solid black;
        }
        button.crm-webform-submit-button {
            width: 50%;
            float: right;
        }
        &:nth-child(1) {
            width: 100%;
        }
        &:nth-child(2) {
            padding-right: 10px;
        }
        &:nth-child(4) {
            width: 55.3%;
            padding-right: 10px;
        }
        &:nth-child(6) {
            width: 100%;
            input {
                height: 125px;
                width: 103%;
            }
        }
    }
}