.budget{
    h2{
        @include rhythm(28, 40);
        font-weight: bold;
        color:black;
        padding: 0px 0 11px 0;
    }
    p{
        @include rhythm(14, 24);
        b{
            @include rhythm(14, 24);
            color: #1A1818;
            font-weight: bold;
        }
    }
    .card-img{
        img{
            width: 100%;
            height: 300px;
        }
    }
}

.product-select {
    .select {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
        select {
            font-family: 'Arial';
            display: inline-block;
            width: 100%;
            cursor: pointer;
            padding: 10px 15px;
            outline: 0;
            border: 1px solid #C2C0C0;
            border-radius: 0px;
            background: #ffffff;
            color: #1a1818;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        .select_arrow {
            top: 16px;
            right: 15px;
        }
    }    
    .product-form{
        img{
            width: 100%;
        }
        .hide-desk{
            @include media-breakpoint-up(md){
                display: none;
            }
        }
        .hide-mobile{
            display: none;
            @include media-breakpoint-up(md){
                display: block;
            }
        }
    }
}
.related{
    padding: 0;
    h2{
        @include rhythm(30, 40);
        font-weight: 700;
        color:black;
        padding-bottom: 32px;
        //margin: 90px 0 0 0;
        @include media-breakpoint-up(md){
            @include rhythm(40, 50);
            //margin: 100px 0 25px 0;
        }
    }
    .related_carousel{
        .card{
            -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
            background: #fff;
            margin: 14px 10px;
            border-radius: 10px;
            .card-interno{
                @include media-breakpoint-up(md){
                    display: flex;
                    padding: 10px;
                }
                .card-header{
                    @include media-breakpoint-up(md){
                        margin-bottom: -18px;
                    }
                    img{
                        width: 100% !important;
                        height: 100%;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        @include media-breakpoint-up(md){
                            width: auto;
                        }
                    }
                }
                .card-content{
                    padding: 0 37px ;
                    h3{
                        @include rhythm(16,22);
                        font-weight: bold;
                        padding: 26px 0 10px 0;
                    }
                    p{
                        @include rhythm(14,24);
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }

    .slick-dots {
        bottom:-30px;
        li {
            button{
                &:before {
                    width: 15px ;
                    height: 15px ;
                    content: '';
                    opacity: .2;
                    background: white;
                    border-radius: 5px;
                    border: 1px solid black;
                    margin-top: 1px;
                }

            }
            &.slick-active {
                button{
                    &:before {
                        opacity: 1;
                        color: #ef8611;
                        background: #ef8611;
                        border: 0;
                        width: 22px;
                        height: 22px;
                        margin-top: -2px;
                    }
                }
            }
        }
    }
    .slick-arrow {
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        width: 38px;
        height: 38px;
        border-radius: 10px;
    }
    .slick-next {
        right: -110px;
        //padding: 10px 10px 10px 5px;
    }
    .slick-prev {
        right: -60px;
        left: unset;
        //padding: 10px 5px 10px 10px;
    }
    .slick-prev, .slick-next {
        top: 90%;
        z-index: 1;
        padding: 10px 5px 10px 5px;
    }
}
.possibilities{
    padding: 40px 0;
    h2{
        @include rhythm(30, 40);
        font-weight: 700;
        color:black;
        padding-bottom: 32px;
        //margin: 90px 0 0 0;
        @include media-breakpoint-up(md){
            @include rhythm(40, 50);
            //margin: 100px 0 25px 0;
        }
    }
    .possibilities_carousel{
        .card{
            -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
            background: #fff;
            margin: 14px 10px;
            border-radius: 10px;
            @include media-breakpoint-up(md){
                display: flex;
                padding: 10px;
                //margin-bottom: -18px;
            }
            .card-header{
                @include media-breakpoint-up(md){
                    margin-bottom: -18px;
                }
                img{
                    width: 100%;
                    border-radius: 10px;
                    @include media-breakpoint-up(md){
                        width: auto;
                    }
                }
            }
            .card-content{
                padding: 0 37px ;
                h3{
                    @include rhythm(16,22);
                    font-weight: bold;
                    padding: 26px 0 10px 0;
                }
                p{
                    @include rhythm(14,24);
                    padding-bottom: 20px;
                }
            }
        }
    }

    .slick-dots {
        bottom:-30px;
        li {
            button{
                &:before {
                    width: 15px ;
                    height: 15px ;
                    content: '';
                    opacity: .2;
                    background: white;
                    border-radius: 5px;
                    border: 1px solid black;
                    margin-top: 1px;
                }

            }
            &.slick-active {
                button{
                    &:before {
                        opacity: 1;
                        color: #ef8611;
                        background: #ef8611;
                        border: 0;
                        width: 22px;
                        height: 22px;
                        margin-top: -2px;
                    }
                }
            }
        }
    }
    .slick-arrow {
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        width: 38px;
        height: 38px;
        border-radius: 10px;
    }
    .slick-next {
        right: -110px;
        //padding: 10px 10px 10px 5px;
    }
    .slick-prev {
        right: -60px;
        left: unset;
        //padding: 10px 5px 10px 10px;
    }
    .slick-prev, .slick-next {
        top: 90%;
        z-index: 1;
        padding: 10px 5px 10px 5px;
    }
}