.como-funciona{
    padding-top: 70px;
    button{
        &:hover{
            a{
                color: #f58220 !important;
            }
        }
        @include media-breakpoint-down(md){
            width: 100%;
            margin-top: 15px;
        }
    }
    h3{
        @include rhythm(28,40);
        color: #000000;
        padding-bottom: 25px;
        @include media-breakpoint-down(md){
            &:before {
                content: "";
                padding: 19px 1px;
                position: relative;
                background-color: #ef8611;
                top: -55px;
            }
        }
        @include media-breakpoint-up(md){
            padding-right: 130px;
            @include rhythm(40,50);
        }
    }
    p{
        @include rhythm(14,24);
        @include media-breakpoint-up(md){
            //padding-right: 125px;
            @include rhythm(18,26);
        }
    }
    .content-video{
        padding-top: 25px;
        @include media-breakpoint-up(md){
            padding-top: 0px;
        }
        iframe{
            height: 186px;
            @include media-breakpoint-up(md){
                height: 315px;
            }
        }
    }
}