#nav_main {
    @include media-breakpoint-up(md) {
        position: absolute;
        border-bottom: 1px solid #ffffff;
        padding: 20px 140px 0 20%;
        &.scrolled {
            padding: 30px 140px 0 20%;
        }
    }
    @media (min-width:1279px) and (max-width:1281px){
        padding: 20px 95px 0 6%;
    }
    @media (min-width:1365px) and (max-width:1367px){
        padding: 20px 140px 0 8%;
    }
    &.scrolled {
        //@extend %background_first;
        transition: padding-top 0.3s linear, padding-bottom 0.3s linear;
        img {
            filter: brightness(0) invert(1);
        }
    }
    &.nav-up {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.4s ease-in, padding-top 0.3s ease-in;
        @include media-breakpoint-down(md){
            visibility: visible;
            opacity: 9;
        }
    }
    &.nav-down {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.4s ease-in, padding-top 0.3s ease-in;
        background: transparent;
    }
    @include media-breakpoint-down(lg) {
        //background: $third;
        &.scrolled {
            background: $primary;
            @include media-breakpoint-down(md){
                background: transparent;
            }
        }
        padding: 30px;
        .navbar-brand {
            all: unset;
            cursor: pointer;
            max-width: 160px;
            //margin: 0 auto;
            margin-left: 17px;
            img {
                margin: 0 auto;
                filter: brightness(0) invert(1);
                margin-left: -20px;
            }
        }
    }
}
nav {
    padding: 35px 50px;
    ul {
        @include media-breakpoint-down(md) {
            padding-top: 10em;
            background: #fff;
            width: 80%;
            -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            right: -37px;
            top: 15px;
            position: relative;
            z-index: 999;
        }
        li.nav-item {
            padding: 0 0.2rem;
            a {
                font-style: normal;
                font-weight: 900;
                font-size: 20px;
                line-height: 20px;
                color: #000;
                @include media-breakpoint-up(md) {
                    color: #fff;
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: normal;
                }
            }
            &.current_page_item {
                a span {
                    border-bottom: 1px solid;
                }
            }
        }
    }
}
// #nav-icon3{top:6px;width:24px;height:22px;display:inline-block;position:relative;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;}
// #nav-icon3 span{display:block;position:absolute;height:3px;width:100%;background:#414042;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
// #nav-icon3 span:nth-child(1){top:0}
// #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){top:7px}
// #nav-icon3 span:nth-child(4){top:14px}
// .nav-open #nav-icon3 span:nth-child(1){top:9px;width:0;left:50%}
// .nav-open #nav-icon3 span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
// .nav-open #nav-icon3 span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
// .nav-open #nav-icon3 span:nth-child(4){top:9px;width:0;left:50%}
// .dropup .dropdown-toggle::after, .dropdown-toggle::after{
//     content: none;
// }
@include media-breakpoint-down(lg) {
    li#menu-item-2086 ul {
        display: flex !important;
        justify-content: space-around;
    }
    #nav_main .dropdown-menu {
        display: block;
        //text-align: center;
        padding: 0;
        margin: 0;
        padding: 5px 0 16px 0;
        box-shadow: none;
        a{
            font-weight: 100;
            padding: 0.25rem 0rem;  
        }
    }
    #nav_main .dropdown-toggle {
        &::after{
            display: none;
        }
        
    }
    .dropdown-menu {
        background: transparent;
        border: none;
    }
    #nav_main {
        li:not(.dropdown) {
            margin-top: 1.2rem;
            a {
                // text-transform: uppercase;
                font-size: 20px;
            }
        }
    }
}
.menu-item:hover,
.current-menu-item {
    a {
        span {
            border-bottom: 1px solid #fff;
        }
    }
}
@include media-breakpoint-up(lg) {
    .dropdown-menu {
        .nav-item {
            text-align: right;
            a {
                color: $third;
            }
        }
    }
}
.dropdown-toggle {
    #nav-icon-item {
        background: #f3f4f4;
        padding: 4px 16px;
        border-radius: 0.3rem;
    }
}
.icon-bar {
    width: 24px;
    height: 3px;
    background-color: #000;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
    border-radius: 100px;
}
.navbar-toggler {
    border: none;
    background: transparent !important;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
    opacity: 0;
}
.navbar-toggler .bottom-bar {
    transform: rotate(-42deg);
    transform-origin: -1% 90%;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
button.navbar-toggler.collapsed {
    background: #fff !important;
    padding: 8px 10px 10px 10px;
    margin-right: 30px;
}
button.navbar-toggler {
    background: #fff !important;
    padding: 9px 5px 9px 15px;
}
@include media-breakpoint-up(md) {
    .home {
        #nav_main {
            &.scrolled.v2 {
                background: #4728ff;
                transition: padding-top 0.3s linear, padding-bottom 0.3s linear;
                img {
                    filter: brightness(0) invert(1);
                }
            }
            &.scrolled.v1 {
                background: #fff;
                transition: padding-top 0.3s linear, padding-bottom 0.3s linear;
                img {
                    filter: brightness(1) invert(0);
                }
                li.nav-item {
                    padding: 0 0.2rem;
                    a {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #414042;
                    }
                    &.current_page_item {
                        a span {
                            border-bottom: 1px solid;
                        }
                    }
                }
            }
        }
    }
}
