.product{

    @include media-breakpoint-down(md){
        .box-filtro {
            position: absolute;
            top: 466px;
            background: #fff;
            width: 85%;
            height: 14%;
        }
    }
    .card{
        -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.25);
        border-radius: 10px;
        @include media-breakpoint-up(md){
            display: flex;
        }
        .card-header{
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #E8E8E8;
            padding: 40px 0 20px 0;
            @include media-breakpoint-up(md){
                border-right: 1px solid #E8E8E8;
                margin-right: 20px;
                margin-left: -30px;
                border-bottom: 0;
            }
        }
        .card-description{
            border-bottom: 1px solid #E8E8E8;
            padding: 25px 20px;
            a{
            color: black;
            text-decoration: none;
            }
            @include media-breakpoint-up(md){
                border-right: 1px solid #E8E8E8;
                margin-right: 20px;
                padding: 41px 20px;
                border-bottom: 0;
            }
            h3{
                @include rhythm(18,26);
                padding-bottom: 10px;
            }
            p{
                @include rhythm(14,24);
            }
        }
        .card-soluctions{
            padding-top: 25px;
            @include media-breakpoint-up(md){
                padding-top: 41px;
            }
            h3{
                @include rhythm(14,24);
                padding-bottom: 10px;
            }
            ul{
                padding-left: 0;
                @include media-breakpoint-up(md){
                    display: flex;
                    flex-wrap: wrap;
                }
                li{
                    @include rhythm(14,20);
                    list-style: none;
                    padding-bottom: 10px;
                    color: #F36A10;
                    @include media-breakpoint-up(md){
                        width: 50%;
                    }
                }
            }
        }
        .card-related{
            padding-bottom: 25px;
            @include media-breakpoint-up(md){
                padding-top: 41px;
            }
            a{
                color: #F36A10;
                text-decoration: none;
                @include rhythm(14,20);
                font-weight: 300;
            }
            h3{
                @include rhythm(14,24);
                padding-bottom: 10px;
            }
            ul{
                padding-left: 0;
                li{
                    @include rhythm(14,20);
                    padding-bottom: 10px;
                    list-style: none;
                    color: #F36A10;
                }
            }
        }
    }
}