.main-sistema{
    .box-left{
        h2{
            @include rhythm(28,40);
            color: #000000;
            padding-bottom: 25px;
            @include media-breakpoint-up(md){
                @include rhythm(40,50);
            }
        }
        p{
            @include rhythm(14,24);
            @include media-breakpoint-up(md){
                @include rhythm(16,26);
                padding-right: 50px;
            }
        }
    }
    .lajes_carousel{
        margin-top: 50px;
        .card{
            -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.55);
            -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.55);
            box-shadow: 0 0 9px 0 rgba(0,0,0,.55);
            padding: 27px;
            margin: 5px;
            border-radius: 10px;
            .card-header{
                display: flex;
                align-items: center;
                padding-bottom: 25px;
                p{
                    font-weight: bold;
                    margin-left: 15px;
                }
            }
            .card-content{
                padding-bottom: 25px;
            }
        }
        .slick-prev, .slick-next {
            top: 120%;
            box-shadow: 0 0 5px 0 rgba(0,0,0,.75);
            width: 38px;
            height: 38px;
            border-radius: 10px;
            padding: 10px;
        }
        .slick-next {
            right: 0px;
        }
        .slick-prev{
            right: 45px;
            left: unset;
        }
        .slick-dots {
            bottom: -40px;
        }
    }
}

.produtos-solucoes{
    padding-top: 92px;
    @include media-breakpoint-up(md){
        padding: 0;
    }
    h3{
        @include rhythm(40,50);
        color: #000000;
        padding-bottom: 30px;
        @include media-breakpoint-down(md){
            &:before {
                content: "";
                padding: 19px 1px;
                position: relative;
                background-color: #ef8611;
                top: -70px;
            }
        }
    }
    .p_solucoes_carousel{
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
        box-shadow: 0 0 9px 0 rgba(0,0,0,.55);
        border-radius: 10px;
        padding: 10px;
        .card{
            padding: 30px 0;
            @include media-breakpoint-up(md){
                display: flex;
                align-items: center;
            }
            .card-header{
                img{
                    width: 100%;
                    @include media-breakpoint-up(md){
                        width: 70%;
                        height: auto;
                        margin: 0 auto;
                    }
                }
            }
            .card-content{
                padding: 0 20px;
                h3{
                    @include rhythm(16,22);
                    padding-bottom: 22px;
                    @include media-breakpoint-up(up){
                        @include rhythm(20,26);
                    }
                }
                p{
                    @include rhythm(14,24);
                    @include media-breakpoint-up(up){
                        @include rhythm(16,26);
                    }
                }
                .btn_first {
                    padding: 12px 31px;
                    @include media-breakpoint-up(md){
                        padding: 12px 60px;
                    }
                }
            }
        }
        .slick-prev, .slick-next {
            top: 93%;
            box-shadow: 0 0 5px 0 rgba(0,0,0,.75);
            width: 38px;
            height: 38px;
            border-radius: 10px;
            padding: 10px;
        }
        .slick-prev{
            right: -55px;
            left: unset;
        }
        .slick-next {
            right: -100px;
        }
        .slick-dots {
            bottom: -50px;
        }
    }
}