.tire-duvidas{

    @include media-breakpoint-up(md){
        padding: 36px 0;
    }
    h2{
        @include rhythm(28,40);
        color: #000000;
        padding-bottom: 25px;
        @include media-breakpoint-up(md){
            padding-bottom: 0;
            padding-right: 120px;
        }
        &:before {
            content: "";
            padding: 19px 1px;
            position: relative;
            background-color: #ef8611;
            top: -55px;
            @include media-breakpoint-up(md){
                top: -65px;
            }
        }
        @include media-breakpoint-up(md){
            margin-top: 100px;
        }
    }
    p{
        @include rhythm(14,24);
        @include media-breakpoint-up(md){
            padding-right: 70px;
        }
    }
    .doubts{
        padding-top: 10px;
        label{
            @include rhythm(14,26);
            color: #1A1818;
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            input{
                height: 43px;
            }
        }
        .inputs {
            input{
                width: 100%;
                @include media-breakpoint-up(md){
                    padding: 0 23px;
                }
            }
            @include media-breakpoint-up(md){
                display: flex;
                justify-content: space-between;
            }
            .smal-input{
                display: flex;
                width: 100%;
                &:last-child{
                    @include media-breakpoint-up(md){
                        padding-left: 10px;
                    }
                }
                .telefone {
                    width: 100%;
                    @include media-breakpoint-up(md){
                        padding-right: 5px;
                    }
                }
                .ddd {
                    width: 71px;
                } label{
                    &:first-child {
                        padding-right: 15px;
                    }
                }
                select {
                    height: 43px;
                    border-radius: 5px;
                    &.state-selector{
                        padding: 0 12px;
                        @include media-breakpoint-up(md){
                            padding: 0 30px 0 10px;
                        }
                    }
                    &.city-selector{
                        padding: 0 31px;
                        @include media-breakpoint-up(md){
                            padding: 0 130px 0 10px;
                        }
                    }
                }
            }
        }
        textarea{
            width: 100%;
            border-radius: 5px;
            padding: 10px 20px;
            @include media-breakpoint-up(up){
                height: 180px;
            }
        }
        .submit-button{
            @include media-breakpoint-up(md){
                display: flex;
                justify-content: flex-end;
            }
            .wpcf7-submit {
                width: 100%;
                color: #fff;
                border-color: #fff;
                background: #ef8611;
                padding: 12px 34px;
                border: 1px solid #ef8611;
                @include media-breakpoint-up(md){
                    width: 40%;
                }
            }
            .ajax-loader {
                position: absolute;
            }
        }
    }
}