.crm-webform-input{
    background: red;
    display: none;
}

.crm-webform-fieldset {
    display: flex !important;
    flex-wrap: wrap !important;
}
.crm-webform-fieldset .row input {
    border-radius: 5px;
    border: 1px solid black;
}
.crm-webform-fieldset .row select {
    border-radius: 5px;
    border: 1px solid black;
}
.crm-webform-fieldset .row button.crm-webform-submit-button {
    width: 50%;
    float: right;
}
.crm-webform-fieldset .row:nth-child(1) {
    width: 100%;
}
.crm-webform-fieldset .row:nth-child(2) {
    padding-right: 10px;
}
.crm-webform-fieldset .row:nth-child(4) {
    width: 55.3%;
    padding-right: 10px;
}
.crm-webform-fieldset .row:nth-child(6) {
    width: 100%;
}
.crm-webform-fieldset .row:nth-child(6) input {
    height: 125px;
    width: 103%;
}
